name: flutter_scheduling_example
description: Contoh praktik Flutter Scheduling, Notifications, dan Background Tasks
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  # Local Notifications
  flutter_local_notifications: ^16.3.0
  timezone: ^0.9.2
  
  # Background Tasks
  workmanager: ^0.5.2
  
  # UI
  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
